* {
  font-family: "Bebas Neue", cursive;
  font-family: "Oswald", sans-serif;
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  margin-bottom: 30px;
}

h1 {
  margin: 0;

  color: rgb(245, 245, 245);
}

a {
  margin: 0 30px;
  color: rgb(245, 245, 245);
  line-height: 20px;
  font-weight: 800;
}

a:hover {
  border-bottom: 4px solid rgb(240, 98, 146);
}

nav {
  height: 24px;
  display: flex;
  justify-content: center;
}

.content-box:first-child {
  /* position: absolute; */
  left: 0;
  width: 40%;
  height: 930px;
  background-color: rgb(19, 19, 19);
}

.content-box:last-child {
  /* position: absolute; */
  right: 0;
  width: 60%;
  height: 930px;
  background-size: cover;
  overflow: hidden;
}

.content-box:last-child .header {
  background-color: rgb(97, 97, 97);
}

.header-image {
  /* width: 1142px; */
  height: 830px;
  overflow: hidden;
}

.header-image img {
  width: 1150px;
  background-position: 20%;
}

.header-image__baground {
  background-image: url(/images/header-photo.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.baground-svg {
  background: url(/svg/dotted-svg.svg);
  margin: 114px 0 0 30px;
  width: 548px;
  height: 282px;
  opacity: 0.4;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.header-title {
  position: relative;
  top: 88px;
  left: 37%;

  z-index: 10;
}

.title-first {
  line-height: 42px;
  font-size: 56px;
  font-weight: 500;
  color: rgb(245, 245, 245);
}

h2 {
  margin: 0;
  font-size: 80px;
  color: rgb(245, 245, 245);
}

.title-last {
  display: inline-block;
  margin: 8px 0 0 0;
  padding: 18px 36px;
  font-weight: 800;
  font-size: 38px;
  background-color: rgb(240, 98, 146);
}

.container {
  margin: 250px 15% 200px 15%;
}

.author-section {
  display: flex;
  justify-content: space-between;
}

.author-image__baground {
  background-image: url(/images//stock-photo-1023143543.jpg);
  width: 598px;
  height: 666px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: -80px -70px rgb(19, 19, 19), 0px 0px 10px rgba(19, 19, 19, 0.6);
}

.author-description {
  width: 598px;
}

.author-description p {
  padding-left: 3px;
  font-weight: 500;
  font-size: 24px;
}

.author-title span {
  font-size: 20px;
  font-weight: 700;
}

.author-title h3 {
  position: relative;
  font-size: 50px;
  margin: 0;
}

.author-title h3::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 162px;
  left: 3px;
  bottom: 12px;
  background-color: rgb(240, 98, 146);
  z-index: -1;
}

.text-decoration__svg {
}

/* .line {
  stroke: black;
  stroke-width: 6px;
  fill: transparent;
}

.test-svg {
  border: 1px solid black;
} */
