* {
  font-family: "Bebas Neue", cursive;
  font-family: "Oswald", sans-serif;
  font-family: "Raleway", sans-serif;
}

body section:nth-child(3) > .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
}

body section:nth-child(4) > .container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-size: cover;
  background-image: url(../images/nature.jpg);
}

body section:nth-child(4) > .container::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 0;
}

body section:nth-child(5) > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

body section:nth-child(3) {
  position: relative;
}

header {
  display: flex;
}

h1 {
  margin: 0;

  color: rgb(245, 245, 245);
}

a {
  text-decoration: none;
  color: black;
}

.header a {
  margin: 0 30px;
  color: rgb(245, 245, 245);
  line-height: 20px;
  font-weight: 800;
  transition: all 0.1s ease-out;
}

.header a:hover {
  border-bottom: 4px solid rgb(240, 98, 146);
  transition: all 0.1s ease-out;
}

.header nav {
  height: 24px;
  display: flex;
  justify-content: center;
}

.content-box:first-child {
  left: 0;
  width: 40%;
  height: 930px;
  background-color: rgb(19, 19, 19);
}

.content-box:last-child {
  right: 0;
  width: 60%;
  height: 930px;
  background-size: cover;
  overflow: hidden;
}

.content-box:last-child .header {
  background-color: rgb(97, 97, 97);
}

.header-image {
  height: 830px;
  overflow: hidden;
}

.header-image img {
  width: 1150px;
  background-position: 20%;
}

.header-image__baground {
  background-image: url(/images/header-photo.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-svg {
  margin: 114px 0 0 30px;
  height: 28%;
  opacity: 0.1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.header-title {
  position: relative;
  top: 88px;
  left: 37%;

  z-index: 10;
}

.title-first {
  line-height: 42px;
  font-size: 56px;
  font-weight: 500;
  color: rgb(245, 245, 245);
}

h2 {
  margin: 0;
  font-size: 80px;
  color: rgb(245, 245, 245);
}

.title-last {
  display: inline-block;
  margin: 8px 0 0 0;
  padding: 18px 36px;
  font-weight: 800;
  font-size: 38px;
  background-color: rgb(240, 98, 146);
}

.container {
  padding: 250px 15% 200px 15%;
  background-color: rgb(218, 218, 218);
  z-index: -3;
}

.author-section {
  display: flex;
  justify-content: space-between;
}

.author-image__baground {
  position: relative;
  background-image: url(/images//stock-photo-1023143543.jpg);
  width: 598px;
  height: 666px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: -80px -70px rgb(19, 19, 19), 0px 0px 10px rgba(19, 19, 19, 0.6);
}

.author-image__baground::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 110px;
  top: -20px;
  border: 12px solid rgb(240, 98, 146);
  border-radius: 50%;
}

.author-image__baground::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 165px;
  top: -10px;
  background-color: rgb(240, 98, 146);
  border-radius: 50%;
}

.author-description {
  width: 598px;
}

.author-description p {
  padding-left: 3px;
  font-weight: 500;
  font-size: 24px;
}

.author-title {
  display: flex;
  justify-content: space-between;
}

.section-menu {
  margin-top: 100px;
}

.section-menu a {
  position: relative;
  padding: 0 45px;
  font-size: 24px;
  font-weight: 500;
  transition: all 0.1s ease-out;
}

.section-menu a:hover::before {
  content: "";
  position: absolute;
  width: 62%;
  height: 12px;
  bottom: -12px;
  background-color: rgb(240, 98, 146);
  transition: all 0.1s ease-out;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.title h3 {
  position: relative;
  font-size: 66px;
  margin: 0;
  line-height: 48px;
}

.title h3::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: -32px;
  right: -56px;
  background-image: url(/svg/radio-svg.svg);
}
.title span {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  line-height: 26px;
  z-index: 0;
}

.title span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 16px;
  top: 0;
  right: 6px;
  background-color: rgb(240, 98, 146);
  z-index: -1;
}

.author-title span {
  margin: 6px 0;
  margin-left: auto;
  font-size: 20px;
  font-weight: 700;
}

.author-title div {
  display: flex;
  flex-direction: column;
}

.author-title h3 {
  position: relative;
  font-size: 66px;
  margin: 0;
  z-index: 0;
  line-height: 48px;
}

.author-title h3::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 209px;
  left: 4px;
  bottom: 1px;
  background-color: rgb(240, 98, 146);
  z-index: -1;
}

.text-svg {
  padding: 0 0 0 50px;
  height: 83.5px;
  opacity: 0.3;
}

.author-svg {
  position: absolute;
  bottom: -120px;
  right: 0;
  width: 40%;
  opacity: 0.3;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0;
}

.image-gallery .image {
  position: relative;
  width: 424px;
  height: 424px;
  margin: 10px 10px;
  background-size: cover;
  box-shadow: 0px 0px 10px rgba(19, 19, 19, 0.4);
  z-index: 0;
}

.image-gallery a:nth-child(1) .image {
  background-image: url(../images/pic1.jpg);
}
.image-gallery a:nth-child(2) .image {
  background-image: url(../images/pic2.jpg);
  background-position: 0px;
}
.image-gallery a:nth-child(3) .image {
  background-image: url(../images/pic3.jpg);
}
.image-gallery a:nth-child(4) .image {
  background-image: url(../images/pic4.jpg);
}
.image-gallery a:nth-child(5) .image {
  background-image: url(../images/pic5.jpg);
}
.image-gallery a:nth-child(6) .image {
  background-image: url(../images/pic6.jpg);
}
.image-gallery a:nth-child(7) .image {
  background-image: url(../images/pic7.jpg);
}
.image-gallery a:nth-child(8) .image {
  background-image: url(../images/pic8.jpg);
}
.image-gallery a:nth-child(9) .image {
  background-image: url(../images/pic9.jpg);
  background-position: 0px;
}

.image-gallery a {
  color: black;
  font-weight: 700;
}

.image:hover::before {
  content: "Details";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 424px;
  height: 424px;
  background-color: rgba(240, 98, 146, 0.5);
  z-index: 3;
}

.button-load {
  padding: 20px 66px;
  border: none;
  color: rgba(255, 255, 255);
  background-color: rgba(19, 19, 19);
  box-shadow: 6px 8px 20px rgba(19, 19, 19, 0.4);
  border-radius: 29px;
  transition: all 0.1s ease-out;
}

.button-load:hover {
  background-color: rgb(240, 98, 146);
  color: aliceblue;
  transition: all 0.1s ease-out;
}

.section-svg {
  position: absolute;
  width: 444px;
  top: 146px;
  right: 0;
  opacity: 0.1;
}

.title-subscribe {
  display: flex;
  flex-direction: column-reverse;
}

.title-subscribe h3 {
  position: relative;
  font-size: 66px;
  margin: 0;
  z-index: 0;
  line-height: 48px;
}

.title-subscribe span {
  position: relative;
  font-size: 28px;
  margin: 0;
  z-index: 0;
  line-height: 48px;
  font-weight: 500;
}

.title-subscribe span::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  /* top: auto;
  bottom: auto; */
  background-color: rgb(240, 98, 146);
}

.title-subscribe h3::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 106%;
  left: 5px;
  bottom: 1px;
  background-color: rgb(240, 98, 146);
  z-index: -1;
}

.submit-form {
  display: flex;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.title-subtext {
  margin: 60px 0;
  width: 600px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  z-index: 1;
}

.submit-form input {
  padding: 10px 30px 10px 60px;
  width: 500px;
  line-height: 48px;
  font-weight: 500;
  font-size: 28px;
  border: none;
  outline: none;
}

.submit-form button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background-color: rgb(240, 98, 146);
}

.title-reviews {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.title-reviews h3 {
  position: relative;
  font-size: 66px;
  margin: 0;
  z-index: 0;
  line-height: 48px;
}

.title-reviews h3::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 100%;
  left: 5px;
  bottom: 1px;
  background-color: rgb(240, 96, 144);
  z-index: -1;
}

.title-reviews span {
  position: relative;
  font-size: 28px;
  margin: 0;
  z-index: 0;
  line-height: 38px;
  font-weight: 500;
}

.title-reviews span::after {
  content: url(../svg/wave-small.svg);
  position: absolute;
  font-size: 28px;
  margin-left: 10px;
  width: 76px;
  height: 20px;
}

.clients-tasks {
  width: 60%;
  margin: 70px 0;
}

.client-text p {
  padding: 50px 130px 50px 50px;
  background-color: cadetblue;
}
